<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="stylesheets/gamesenpai.css" />

        <!-- Google fornts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
            rel="stylesheet"
        />

        <title>Game Senpai</title>
    </head>

    <body id="games">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/coaches">COACHES</a></li>
            <li>
                <a class="active" href="/games">GAMES</a>
            </li>
        </ul>

        <h1>Games Page</h1>

        <div class="gameContainer">
            <% games.forEach(game => { %>
            <div class="game <%= game.name.toLowerCase().replace(/\s+/g,''); %>">
                <img class="gameImg" src="<%= game.image %>.jpg" alt="game photo" />
                <div class="gameName title">
                    <%= game.name %>
                </div>
                <hr>
                <div class="gameDesc">
                    <%= game.description %>
                </div>
            </div>
            <% })%>
        </div>

    </body>
</html>
