<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/landing.css">

    <!-- Google fornts -->

    <title>Game Senpai</title>
</head>

<body>
    <h1>GAMESENPAI</h1>
</body>

</html>