<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/landing.css">

    <!-- Google fornts -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 

    <title>Game Senpai</title>
</head>

<body>
    <ul>
        <li><a class="active" href="/">HOME</a></li>
        <li><a href="/coach/coach_id_will_go_here">COACHES</a></li>
        <li><a href="/game/game_title_will_go_here">GAMES</a></li>
    </ul>

    <div class="parallax bgimg1">
        <div class="caption">
            <span class="border">UNLOCK YOUR INNER GAMER</span>
        </div>
    </div>

    <div class="exp">
        <h3>WHAT WE ARE</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod sem in nisi ultricies, eget molestie mi consequat. Fusce vestibulum faucibus vehicula. Praesent eu dolor pellentesque, feugiat urna id, auctor lorem. Donec eu laoreet turpis. Vestibulum pulvinar ornare tempor. Curabitur ultrices, felis a rhoncus efficitur, lacus turpis tincidunt libero, ut rhoncus nisi diam id sem. Sed ac finibus lectus. Praesent at turpis lectus. Sed sit amet nisi turpis.
            
            Pellentesque aliquet luctus fringilla. Praesent leo nulla, finibus id ultricies ut, mollis quis enim. Quisque viverra vestibulum consequat. Phasellus lacus urna, vehicula eu efficitur congue, suscipit id ipsum. Fusce nulla felis, elementum a dui sed, scelerisque mollis ante. Suspendisse potenti. Etiam purus mauris, sagittis commodo tellus eu, sollicitudin euismod eros. Vestibulum diam sem, porttitor ut dapibus vitae, euismod vel risus. Vestibulum eros leo, luctus eget euismod quis, varius quis sem. Phasellus sit amet massa vehicula, ullamcorper mi quis, pretium diam.
            
            Mauris vehicula dignissim risus, in volutpat arcu molestie aliquam. Nullam scelerisque metus nibh, ac pulvinar nunc blandit non. Etiam interdum vehicula dignissim. Integer nulla nunc, blandit eget tortor ac, faucibus interdum eros. Cras mattis neque quis dictum pellentesque. Nulla quis justo tempus, convallis tellus sit amet, luctus dui. Aenean in accumsan sapien, vitae fermentum ante. Proin molestie, sapien eu consequat bibendum, sem arcu posuere quam, vitae porttitor ipsum justo eu ipsum. Nullam scelerisque sit amet urna ac pretium. Fusce non eleifend quam, non scelerisque felis. Pellentesque quis fermentum erat, nec sagittis magna. Ut tempus lacus sed metus sollicitudin, sit amet dignissim enim pharetra. Sed tempus nisi at commodo maximus. Sed accumsan lorem purus, ac tincidunt arcu rutrum quis. Aenean gravida justo id cursus gravida. Aenean id vehicula nisl, ac placerat erat.
            
            Curabitur vitae lacus dapibus, egestas eros quis, vulputate erat. Integer vitae dictum risus. Aenean semper dignissim urna, sed aliquam velit condimentum in. Vivamus at purus eu orci dapibus luctus eget vehicula justo. Suspendisse vel viverra nibh, vel iaculis leo. Nulla laoreet ipsum eget risus venenatis dignissim. Duis eros tortor, eleifend nec enim at, ullamcorper aliquet ante. Sed justo ipsum, bibendum ut elementum suscipit, fermentum vel ex. Etiam varius tempor est. In hac habitasse platea dictumst. In suscipit elementum libero, malesuada ultrices eros aliquet ut. Nam blandit iaculis volutpat.
            
            Curabitur viverra, libero vitae finibus ornare, enim ipsum efficitur turpis, eget gravida dolor enim mollis nisi. Aliquam sapien diam, dignissim id diam et, feugiat tincidunt neque. Nullam nibh mi, sodales vitae venenatis sit amet, faucibus vel erat. Phasellus quis lectus hendrerit, auctor sapien quis, commodo est. Cras dapibus malesuada lobortis. Cras eget convallis felis, ac sodales tortor. Vestibulum elementum ipsum at tortor semper, non placerat elit fermentum. Nam egestas tristique pharetra. Sed purus augue, tempus et risus eget, viverra maximus urna. Integer lacinia, nisl a hendrerit consectetur, nunc nulla fringilla lacus, ac interdum ipsum nunc vel purus. 
        </p>
    </div>

    <div class="parallax bgimg2">
        <div class="caption">
            <span class="border clear"><span class="retro">GAME</span> SENPAI</span>
        </div>
    </div>

    <div>
        <div class="desc">
            <p>
                Pellentesque aliquet luctus fringilla. Praesent leo nulla, finibus id ultricies ut.
            </p>
        </div>
    </div>

    <div class="parallax bgimg3">
        <div class="caption">
            <a href="/coach/coach_id_will_go_here">
                <span class="border rainbow clear">FIND YOUR SENPAI</span>
            </a>
        </div>
    </div>

    <div>
        <div class="desc">
            <p>
                Curabitur vitae lacus dapibus, egestas eros quis.
            </p>
        </div>
    </div>

    <div class="parallax bgimg4">
        <div class="caption">
            <span class="border clear">CONTACT US</span>
        </div>
    </div>

    <div class="desc">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra magna quis venenatis posuere. Maecenas tempor iaculis orci. Suspendisse potenti. Aenean vitae elementum felis. Morbi quis cursus dui. Sed sapien turpis, facilisis eget convallis eget, gravida et sem. Proin scelerisque mauris et odio pharetra condimentum.

            Sed et sem et quam iaculis porta. Vivamus quis aliquet felis. Pellentesque id pharetra tortor. Nulla in fringilla neque. Aenean scelerisque enim sit amet turpis consectetur finibus. Aenean ut nisi eleifend, aliquam velit vel, malesuada ipsum. Sed in vulputate enim. Aenean tincidunt sit amet neque sed pulvinar. Quisque arcu ante, tincidunt sed convallis ac, egestas egestas eros. Suspendisse tempor ex id risus scelerisque lacinia nec et sem. Suspendisse elit lorem, auctor in mi vehicula, ultricies porttitor ex. Vivamus sodales pellentesque justo, sit amet lobortis sem mattis ut. In aliquam sagittis justo, sit amet commodo ipsum semper sit amet. 
        </p>
    </div>
</body>

</html>