/*general*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    box-sizing: border-box;
}

@media screen and (max-width: 500px){
    div.sidebar {display: none;}
    div.sideToggle {display: inline;}
    div.coachContainer {margin-left: 0;}
    div.coach {margin: 10px auto; float: none;}
    div.game {width: 250px; height: 250px; margin: 10px auto; float: none;}
    img.gameImg {height: 180px; margin-right: 100px;}
    span.sideToggle {display: inline;}
    div#closeBtn {display: inline;}
}

h1 {
    color: #dddddd;
    margin-left: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;
}

li {
    float: left;
}

li a {
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3f3f3f;
}

.active {
    color: #9f9f9f;
}

.title {
    font-size: larger;
}

#closeBtn {
    position: fixed;
    font-size: xx-large;
    left: 90vw;
    top: 1vh;
    display: none;
}

.sideToggle {
    display: none;
    color: #dddddd;
    font-size: x-large;
    left: -3px;
    top: 50vh;
    position: fixed;
}

hr {
    border-width: 0;
    margin-top: 0;
    height: 3.6px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3.63px;
}

div.footnote {
    background-color: #1f2327;
}

/*for landing.ejs*/
.parallax {
    position: relative;
    opacity: 0.75;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
    background-image: url("https://c1.wallpaperflare.com/preview/511/756/14/keyboard-gamer-computer-technology.jpg");
}

.bgimg2 {
    background-image: url("https://live.staticflickr.com/833/41508894340_a660b21f69_z.jpg");
}

.bgimg3 {
    background-image: url("https://c0.wallpaperflare.com/preview/7/692/15/south-korea-seoul-sangam-dong-pro-gamer.jpg");
}

.bgimg4 {
    background-image: url("https://p0.piqsels.com/preview/740/508/1018/electronic-gaming-headphone-headset.jpg");
}

div.exp {
    color: #777;
    text-align: center;
    padding: 50px 80px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: #dddddd;
    padding: 18px;
    font-size: 4.5vmin;
    border-radius: 10px
}

span.retro {
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vmin;
    color: #dddddd;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddddd;
}

div.desc {
    color: #dddddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

span.outline {
    color: #dddddd;
    -webkit-text-fill-color: #dddddd;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

span.rainbow {
    animation-name: colorShift;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes colorShift {
    0%   {color: rgb(74, 221, 177);}
    20%  {color: rgb(51, 146, 209);}
    40%  {color: rgb(240, 237, 59);}
    60%  {color: rgb(223, 26, 190);}
    80%  {color: rgb(163, 50, 163);}
    100% {color: rgb(74, 221, 177);}
}

.caption span.clear {
    background-color: transparent;
    color: #f7f7f7;
}

/*for coaches.ejs*/
body#coaches {
    background-color: #282E34;
}

.coachBackGnd {
    background-image: url("https://c0.wallpaperflare.com/preview/676/707/633/sweden-lan-lan-party-pc.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.coachContainer{
    margin-left: 190px;
    padding: 0px 10px;
    padding-bottom: 300px;
    overflow: hidden;
}

.coach {
    font-size: 95%;
    color: #dddddd;
    background-color: #444444;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    height: 320px;
    width: 200px;
    float: left;
}

.sidebar {
    border-radius: 8px;
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 0 ;
    background-color: #4c4c4c;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 7px;
    margin-left: 7px;
    color: #ddd;
    text-decoration: underline;
    display: inline;
}

.show {
    display: block;
}

.btn {
    font-family: 'Fredoka One', cursive;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    color: #ddd;
    width: 100%;
    text-align: left;
}

.btn:hover {
    background-color: #3f3f3f;
}

.btn.active {
    color: #9f9f9f;
}

.coachImg {
    height: 200px;
}

img {
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
}

.innerCoach {
    margin: auto;
}

.fadeOut {
    opacity: 0;
    transition: .3s;
}

.hide {
    display: none;
}

/* for games.ejs */
body#games {
    background-color: #282E34;
}

.gameBackGnd {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/424/569/251/artwork-pattern-texture-dark-wallpaper-preview.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.gameContainer {
    width: 88vw;
    margin: auto;
    padding-bottom: 300px;
    overflow: hidden;
}

.game {
    font-size: 95%;
    color: #dddddd;
    background-color: #444444;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 38vw;
    float: left;
    height: 200px;
}

.gameImg {
    height: 200px;
    float: left;
    margin-right: 20px;
}

/* for showGame.ejs */
.single {
    width: 90vw;
    margin: 3vw;
}

.wrap {
    height: 100vh;
}