body, html {
    height: 100%;
    margin: 0;
    font-family: 'Fredoka One', cursive;

}

.parallax {
    position: relative;
    opacity: 0.75;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
    background-image: url("https://c1.wallpaperflare.com/preview/511/756/14/keyboard-gamer-computer-technology.jpg");
}

.bgimg2 {
    background-image: url("https://live.staticflickr.com/833/41508894340_a660b21f69_z.jpg");
}

.bgimg3 {
    background-image: url("https://c0.wallpaperflare.com/preview/7/692/15/south-korea-seoul-sangam-dong-pro-gamer.jpg");
}

.bgimg4 {
    background-image: url("https://p0.piqsels.com/preview/740/508/1018/electronic-gaming-headphone-headset.jpg");
}

.exp {
    color: #777;
    text-align: center;
    padding: 50px 80px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: white;
    padding: 18px;
    font-size: 35px;
}

span.retro {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

div.desc {
    color: #dddddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

span.outline {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

span.rainbow {
    animation-name: colorShift;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes colorShift {
    0%   {color: rgb(74, 221, 177);}
    20%  {color: rgb(51, 146, 209);}
    40%  {color: rgb(240, 237, 59);}
    60%  {color: rgb(223, 26, 190);}
    80%  {color: rgb(163, 50, 163);}
    100% {color: rgb(74, 221, 177);}
}

a {
    text-decoration: none;
}

.caption span.clear {
    background-color: transparent;
    color: #f7f7f7;
}

ul {
    opacity: 0.75;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    color: gray;
}